
@{
    ViewBag.Title = "پرداخت موفق";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="wrapper default shopping-page">
        <main class="cart-page default">
            <div class="container">
                <div class="row">
                    <main class="cart-page default">
                        <div class="container">
                            <div class="row">
                                <div class="cart-page-content col-12 order-1">
                                    <section class="page-content default">
                                        <div class="success-checkout text-center default">
                                            <div class="icon-success">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <h1>سفارش <a href="#">KR22222222</a>با موفقیت در سیستم ثبت شد.</h1>
                                            <p>سفارش نهایتا تا یک روز آماده ارسال خواهد شد.</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </main>

                </div>
            </div>
        </main>
    </div>