@font-face {
    font-family: 'sahel';
    src: url(../fonts/Fa/Sahel.eot);
    src: url(../fonts/Fa/Sahel.eot?#iefix) format("embedded-opentype"), url(../fonts/Fa/Sahel.woff) format("woff"), url(../fonts/Fa/Sahel.ttf) format("truetype"), url(../fonts/Fa/Sahel.svg#Bsahel) format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: 'sahel';
}
body>* {
    font-family: 'sahel';
}